
/* id selector */
#users {
    background-color: red;    
}

/* element selector */
table {
    width: 100%;
}

th {
    height: 50px;
    background-color: yellow;
}

th, td {
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* class selector */
.users-table {
    background-color: green;
}